<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-body">
                      <div>
                        <ngx-charts-bar-vertical
                        [view]="view"
                        [scheme]="colorScheme"
                        [results]="expenseData"
                        [xAxis]="showXAxis"
                        [yAxis]="showYAxis"
                        [legend]="showLegend"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [xAxisLabel]="xAxisLabel"
                        [yAxisLabel]="yAxisLabel">
                      </ngx-charts-bar-vertical>
                      </div>
            </div> <!-- End card body -->
          </div> <!-- End card  -->
    </div> <!-- End col -->


    <div class="col-sm-6">
      <div class="card">
          <div class="card-body">
                    <div>
                      <ngx-charts-bar-vertical
                      [view]="view"
                      [scheme]="colorScheme"
                      [results]="depositData"
                      [xAxis]="showXAxis"
                      [yAxis]="showYAxis"
                      [legend]="showLegend"
                      [showXAxisLabel]="showXAxisLabel"
                      [showYAxisLabel]="showYAxisLabel"
                      [xAxisLabel]="xAxisLabel"
                      [yAxisLabel]="yAxisLabel">
                    </ngx-charts-bar-vertical>
                    </div>
          </div> <!-- End card body -->
        </div> <!-- End card  -->
  </div> <!-- End col -->

</div>  <!-- End row -->