<div class="" style="margin-top: 100px;">
    <div class="d-flex justify-content-center">
       <div class="card login-div">
           <div class="card-body">
            <ngb-tabset #t="ngbTabset">
              <ngb-tab title="Signin" id="signinTab">
                <ng-template ngbTabContent>
                      <div class="card-body">
                          <form>
                          
                              <div class="form-group">
                                      <input type="text" class="form-control" placeholder="Email Address" #email>
                                      <span class="text-muted-custom text-black-50"><small>admin@web.com</small></span>



                              </div> <!-- End -->
                      
                      
                              <div class="form-group">
                                  <input type="password" class="form-control" placeholder="Password" #password>
                                  <span class="text-muted-custom text-black-50"><small>abcd1234</small></span>
                              </div> <!-- End -->
                  
                  
                              <div class="d-flex justify-content-between">
                              <div class="align-self-start">
                                  <button type="submit" class="btn btn-sm btn-success" (click)="doDogin(email.value, password.value)">Signin</button>
                              </div>  <!-- End -->
                  
                              <span class="mt-2">
                                  <span class="p-2 text-muted-custom"><small>Does not have any account ? <span class="cp" (click)="t.select('signupTab')" style="color: #666">Signup</span></small></span>
                  
                                  <div class="d-flex justify-content-end mt-2 f-link">
                                      <li class="text-muted-custom"></li>
                                      <li class="text-muted-custom"><small><a routerLink="/contact">&#9679; Need help</a></small></li>
                                  </div>
                              </span>
                              </div> <!-- End div -->
                          </form>

                          <div *ngIf="notification" class="mt-4">
                            <div class="alert alert-warning">
                                  <span>{{ notification }}</span>
                            </div> <!-- End alert -->
                          </div> <!-- End notification-->
                      </div> <!-- End Card Body -->
                 
                </ng-template>
              </ngb-tab>
              <ngb-tab title="Signup" id="signupTab">
                <ng-template ngbTabContent>
                      <div class="card-body">
            
                          <form>
                            <div class="form-group">
                              <input type="text" class="form-control" placeholder="Name" #displayName>
                            </div>
                      
                            <div class="form-group">
                              <input type="text" class="form-control" placeholder="Email Address" #email_address>
                            </div> <!-- End -->
                      
                      
                            <div class="form-group">
                              <input type="password" class="form-control" placeholder="Password" #password>
                            </div> <!-- End -->
                    
                    
                            <div class="d-flex justify-content-between">
                              <div class="align-self-start">
                                <button type="submit" class="btn btn-sm btn-success" (click)="createUser(email_address.value, password.value, displayName.value)">Signup</button>
                              </div>
                              
                    
                              <span class="mt-2">
                                <span class="p-2 text-muted-custom"><small>Already have an account ? <a class="cp" (click)="t.select('signinTab')" style="color: #666">Login</a></small></span>
            
                                <div class="d-flex justify-content-end mt-2 f-link">
                                    <li class="text-muted-custom"><small><a routerLink="/contact">&#9679; Need help</a></small></li>
                                </div>
                              </span>
                            </div> <!-- End div -->
                          </form>
              
                      <div *ngIf="notification" class="mt-4">
                        <div class="alert alert-warning">
                              <span>{{ notification }}</span>
                        </div> <!-- End alert -->
                      </div> <!-- End notification-->
                     
                      </div> <!-- End -->
                </ng-template>
              </ngb-tab>
            </ngb-tabset>
           </div>   <!-- End card body -->
       </div>   <!-- End card -->
  </div>  <!-- End flex -->
</div> <!-- End div -->