<div class="container-fluid h-100" style="width: 100%; max-width: 100%;">
        <div class="row h-100">
            <div class="sidebar">
               <div class="sb-content">
                <div class="d-flex justify-content-center">
                    <div class="logo-block">
                        
                    </div> <!-- End logo Block -->
                </div> <!-- End -->
    
                <ul class="dashboard-link">
                   
    
                    <li>
                        <i class="material-icons md-18">reorder</i>
                        <a routerLink="/" routerLinkActive="active">Home</a>
                    </li>


                    <li>
                        <i class="material-icons md-18">money_off</i>
                        <a routerLink="/expense" routerLinkActive="active">Expense</a>
                    </li>
    
                    <li>
                        <i class="material-icons md-18">attach_money</i>
                        <a routerLink="/deposit" routerLinkActive="active"> Deposit </a>
                    </li>


                    <li>
                        <i class="material-icons md-18">dialpad</i>
                        <a routerLink="/deposit" routerLinkActive="active" (click)="isCollapsed = !isCollapsed"
                        [attr.aria-expanded]="!isCollapsed" aria-controls="calculator"> Calculator </a>
                    </li>
    
                    
                  </ul>
               </div> <!-- End sb content -->


               <div class="calculator">
                <div id="calculator" [ngbCollapse]="isCollapsed">
                    <div class="card">
                        <div class="calculator-block">
                            <input type="text" id="getInputValue" placeholder="0">
                            <span id="displayResult">Result</span>
                                <ul class="number-list">
                                    <li onClick="goInitialState()" class="removeContent">CLR</li>
                                    <li onClick="removeElement()" class="removeContent">DEL</li>
                                    <li onClick="addToDisplay('%')">%</li>
                                    <li onClick="addToDisplay('/')">&divide;</li>
                                    <li onClick="addToDisplay('9')" class="decimal-obj">9</li>
                                    <li onClick="addToDisplay('8')" class="decimal-obj">8</li>
                                    <li onClick="addToDisplay('7')" class="decimal-obj">7</li>
                                    <li onClick="addToDisplay('*')">x</li>
                                    <li onClick="addToDisplay('6')" class="decimal-obj">6</li>
                                    <li onClick="addToDisplay('5')" class="decimal-obj">5</li>
                                    <li onClick="addToDisplay('4')" class="decimal-obj">4</li>
                                    <li onClick="addToDisplay('-')" class="">&minus;</li>
                                    <li onClick="addToDisplay('3')" class="decimal-obj">3</li>
                                    <li onClick="addToDisplay('2')" class="decimal-obj">2</li>
                                    <li onClick="addToDisplay('1')" class="decimal-obj">1</li>
                                    <li onClick="addToDisplay('+')" class="">+</li>
                                    <li onClick="addToDisplay('.')" class="decimal-obj">&sdot;</li>
                                    <li onClick="addToDisplay('0')" class="decimal-obj">0</li>
                                    <li onClick="addToDisplay('00')" class="decimal-obj">00</li>
                                    <li onClick="getResult()" class="bg-black">=</li>
                                </ul>
                        </div> <!-- End Calculator Block -->
                    </div>
                  </div>
               </div>
           </div> <!-- End sidebar -->
           <div class="dashboard h-80">
                <div class="col-sm-12">
                        <div class="h-80" style="margin-top: 20px;">
                                <router-outlet></router-outlet>
                        </div> <!-- End -->
                </div>  <!-- End col 12 -->

                <footer class="p-4">
                    &copy; 2020. All rights reserved.
                </footer>
            </div> <!-- End Dashboard -->
           
        </div> <!-- End row -->
    </div> <!-- End container -->