/* Calculator */
.calculator {
    position: absolute;
    z-index: 12;
    left: 200px;
    padding: 0 10px;
  }

/*  Placeholder */
  ::-webkit-input-placeholder {
    color: #333; }
  ::-moz-placeholder {
    color: #333; }
  :-ms-input-placeholder {
    color: #333; }
  :-moz-placeholder {
    color: #333; }
  
  /*  End Placeholder */

.number-list, .output-screen {
    width: 190px; 
}
.output-screen {
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #888;
    padding: 5px;
}

.calculator input {
  width: 190px;
  height: 26px;
  padding: 5px 10px;
  border: 1px solid #9E9E9E;
}

  .number-list > li {
    display: inline-block;
    margin: 1px;
    cursor: pointer;
    padding: 6px 0;
    text-decoration: none;
    width: 44px;
    text-align: center;
    border: 1px solid #c6c6c6;
    color: #444;
}
  
  .number-list > li.bg-black {
    background-color: #666 !important;
    background-image: none;
    border-color: #666 !important;
    color: #FFF !important; }

  
  .number-list > li.decimal-obj {
    background-color: #FFF;
    background-image: none; }
  
  #errorMsg {
    font-family: monospace;
    color: #333;
    text-align: center;
    display: block;
    margin-top: 20px;
    height: 40px; }

.number-list .removeContent {
    font-size: 12px;
    font-weight: 600;
}