<div class="container-fluid" style="margin-bottom: 30px;">
  <div class="row">
    <div class="col-sm-12" style="margin: 20px 0;">
     <div class="card">
       <div class="card-body">
        <h4>Office Financial Management Tool</h4>
        <div class="divider"></div>
       </div> <!-- End card body -->
     </div> <!-- End card -->
    </div> <!-- End -->
  </div> <!-- End row -->
  
  <div class="row">
    <div class="col-sm-12">
      <app-expense style="width: 100%;"></app-expense>
    </div> <!-- End -->
  </div> <!-- End row -->
</div> <!-- End container -->