<div class="container-fluid h-100" style="width: 100%; max-width: 100%;">
        <div class="row h-100">
            <div class="sidebar">
               <div class="sb-content">
                <div class="d-flex justify-content-center">
                    <div class="logo-block">
                        
                    </div> <!-- End logo Block -->
                </div> <!-- End -->
    
                <ul class="dashboard-link">
                   
    
                    <li>
                        <i class="material-icons md-18">reorder</i>
                        <a routerLink="/" routerLinkActive="active">Home</a>
                    </li>


                    <li>
                        <i class="material-icons md-18">money_off</i>
                        <a routerLink="/expense" routerLinkActive="active">Expense</a>
                    </li>
    
                    <li>
                        <i class="material-icons md-18">attach_money</i>
                        <a routerLink="/deposit" routerLinkActive="active"> Deposit </a>
                    </li>


                    <li>
                        <i class="material-icons md-18">dialpad</i>
                        <a routerLink="/deposit" routerLinkActive="active"> Calculator </a>
                    </li>
    
                   
                    
                  </ul>
               </div> <!-- End sb content -->
           </div> <!-- End sidebar -->
           <div class="dashboard h-80">
                <div class="col-sm-12">
                        <div class="h-80" style="margin-top: 20px;">
                                <router-outlet></router-outlet>
                        </div> <!-- End -->
                </div>  <!-- End col 12 -->

                <footer class="p-4">
                    &copy; 2020. All rights reserved.
                </footer>
            </div> <!-- End Dashboard -->
           
        </div> <!-- End row -->
    </div> <!-- End container -->