/* Calculator */
/*  Placeholder */
  ::-webkit-input-placeholder {
    color: #333; }
  ::-moz-placeholder {
    color: #333; }
  :-ms-input-placeholder {
    color: #333; }
  :-moz-placeholder {
    color: #333; }
  /*  End Placeholder */
.calculator {
    position: fixed;
    z-index: 16;
    background: none;
    width: 100%;
    height: 100%;
  }
.calculator-block {
    background: #FFF;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    max-width: 200px;
    display: table;
    margin: 10% auto;
}
.dialpad li {
  width: 40px;
  border: 1px solid #ccc;
  padding: 5px;
  margin: 2px;
  cursor: pointer;
}
.dialpad .bg-black {
  color: #FFF;
  background: #6c757d;
  border: 0;
}
.output-screen {
  margin: 10px 0;
  border: 1px solid #888;
  padding: 0 10px;
  font-size: 14px;
  min-height: 24px; 
}

.calculator input {
  height: 26px;
  padding: 5px 10px;
  box-sizing: border-box;
  width: 100% 
}
  
.inputbox:focus, .inputbox:active {
  border: 1px solid green !important;
  box-shadow: none;
  outline: 0;
}
