<div class="card">
    <div class="card-content">
      <span class="card-title">Deposit</span>
      <div class="divider"></div>
    </div>
    <div class="card-content">
          <div>
            Choose a date
        
            <input matInput [matDatepicker]="picker" name="today" [value]="today.value" #depositDate>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            
          </div> <!-- End -->
        <input type="number" placeholder="Deposit Amount" #deposit [(ngModel)]="depositInput">
        
        <button class="waves-effect waves-light btn-small green darken-1" (click)="getDeposit(deposit.value, depositDate.value)">+ Deposit</button>
    </div>

    <div class="card-content">
        <div>
            <li *ngFor="let object of deposits; let i = index;">
                {{ i }}:: {{ object.deposit.amount }}
              
            </li>
        </div>
    </div> <!-- End card content -->
  </div>
