<div class="card" style="margin-bottom: 20px;">
    <div class="card-body">
      <span class="card-title">Deposit</span>
      <div class="divider"></div>
    </div>
    <div class="card-body">
          <div class="form-group">        
            <input name="today" [value]="today.value" #depositDate class="form-control">
           
          </div> <!-- End -->
        

        <div class="form-group">  
          <input type="number" placeholder="Deposit Amount" #deposit [(ngModel)]="depositInput" class="form-control mb-2">
        
          <button class="btn btn-sm btn-success" (click)="postDeposit(deposit.value, depositDate.value)">+ Deposit</button>
        </div> <!-- End form-group-->

        <table class="table">
          <tr>
            <td>#Serial</td>
            <td>Amount</td>
            <td>Date</td>
          </tr>
          <tr *ngFor="let object of deposits; let i = index;">
            <td> {{ i + 1 }} </td>
            <td> {{ object.deposit.amount }} </td>
            <td> {{ object.deposit.userdate | date:'MMM d, y, EE, h:mm:ss a' }} </td>
          </tr>
        </table>

        

        <div class="mt-4">
            Total Deposit <span class="h5">{{ totalDeposit }}</span>
        </div>
    </div>  <!-- End Card body -->
  </div>
