<div class="card">
  <div class="card-body">
    <span class="card-title">Deposit</span>
    <div class="divider"></div>
  </div>
  <div class="card-body">
        <div class="form-group">        
          <input matInput [matDatepicker]="picker" name="today" [value]="today.value" #depositDate class="form-control">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          
        </div> <!-- End -->
      

      <div class="form-group">  
        <input type="number" placeholder="Deposit Amount" #deposit [(ngModel)]="depositInput" class="form-control mb-2">
      
        <button class="btn btn-sm btn-success" (click)="getDeposit(deposit.value, depositDate.value)">+ Deposit</button>
      </div> <!-- End form-group-->

      <ul class="list-group list-group-flush">
          <li *ngFor="let object of deposits; let i = index;" class="list-group-item">
              {{ i }}- {{ object.deposit.amount }}
            
          </li>
      </ul>

      <div class="mt-4">
          Total Deposit <span class="h5">{{ total }}</span>
      </div>
  </div>  <!-- End Card body -->
</div>