<div class="row mb-2">
  <div class="col-sm-12 col-12">
      <div class="card">
          <ul class="nav">
              <li class="nav-item">
                <a class="nav-link active" routerLink="/category/Utility">Utility</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" routerLink="/category/Foods">Foods</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link active" routerLink="/category/Others">Others</a>
              </li>

              <li class="nav-item">
                  <a class="nav-link active" routerLink="/category/Salary">Salary</a>
              </li>
             
          </ul>
      </div> <!-- End card -->
  </div> <!-- End col -->
</div> <!-- End row -->

<div class="row">
  <div class="col-sm-12">
    <div class="card">
        <div class="card-body">
            <div class="" style="margin: 20px 0;">

              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="input-group">
                      <input type="hidden" placeholder="yyyy/mm/dd"
                             name="selected_day" [(ngModel)]="selected_day" ngbDatepicker #d2="ngbDatepicker" (click)="d2.toggle()">
                      <div class="input-group-append">
                        {{  selected_day.year + '-' + selected_day.month + '-' + selected_day.day | date: 'dd, MMMM y' }}
                        <button class="btn disabled calendar" (click)="d2.toggle()">
                          </button>
                      </div>  <!-- End input group append -->
                
                      <div style="margin-left: 20px;">
                        <span class="btn btn-success" (click)="getDayData(selected_day)">Get Data</span>
                      </div> <!-- End Form group -->
                    </div> <!-- End input group -->
                  </div> <!-- End Form group -->
                </div> <!-- End Col 3 -->
              </div> <!-- End -->
            </div>  <!-- End -->
            <table class="table">
              <tr>
                <td>#Serial</td>
                <td>Amount</td>
                <td>Bill Type</td>
                <td>Date</td>
                <td>Creatime Time</td>
                <td>Note</td>
              </tr>
              <tr *ngFor="let object of expenses; let i = index;">
                <td> {{ i + 1 }} </td>
                <td> <a routerLink="/{{ object.expense.category.split(' ')[0]  + '/' + object.expense.datetime }}">{{ object.expense.amount }} </a>  TK </td>
                <td> {{ object.expense.category  }} </td>
                <td> {{ object.expense.userdate | date:'MMM d, y, EE' }} </td>
                <td> {{ object.expense.datetime | date:'MMM d, y, EE, h:mm:ss a' }} </td>
                <td> {{ object.expense.note  }} </td>
              </tr>
          </table>
  
          <div class="p-2 mt-2">
            Total Expense: <span class="h5">{{ totalExpense }}/ </span> <span>TK</span>
           </div> <!-- End -->
        </div>    <!-- End card body -->
        
    </div> <!-- End card  -->
  </div>  <!-- End col -->
</div>  <!-- End row -->