<div class="row h-100">
    <div class="col-sm-12 col-12" style="margin-bottom: 20px;"> 
        <div class="card">
            <div class="card-body">
                <h4>Welcome to Financial App</h4>
            </div> <!-- End card body -->
        </div> <!-- End card  -->
      </div> <!-- End col 6 -->
  </div> <!-- End row -->

 <div class="row">
	 	<div class="col-sm-4 col-12">
	 		<div class="card">
	 			<div class="card-body">
	 				Total Expense: $1200
	 			</div> <!-- End card body -->
	 		</div> <!-- End card -->
	 	</div> <!-- End col 4 -->

 		<div class="col-sm-4 col-12">
	 		<div class="card">
	 			<div class="card-body">
	 				Total Deposit: $1200
	 			</div> <!-- End card body -->
	 		</div> <!-- End card -->
	 	</div> <!-- End col 4 -->

	 	<div class="col-sm-4 col-12">
	 		<div class="card">
	 			<div class="card-body">
	 				Total Expense: $1200
	 			</div> <!-- End card body -->
	 		</div> <!-- End card -->
	 	</div> <!-- End col 4 -->

 </div> <!-- End row -->