<div class="row h-100">
    <div class="col-sm-12 col-12" style="margin-bottom: 20px;"> 
        <div class="card">
            <div class="card-body">
                <h4>Welcome to Financial App</h4>
            </div> <!-- End card body -->
        </div> <!-- End card  -->
      </div> <!-- End col 6 -->
  </div> <!-- End row -->

 <div class="row mb-4">
	 	<div class="col-sm-4 col-12 mb-1">
	 		<div class="card bg-info">
	 			<div class="card-body text-white">
	 				Total Expense: <span class="h2">{{ total.expense  }}</span> TK
	 			</div> <!-- End card body -->
	 		</div> <!-- End card -->
	 	</div> <!-- End col 4 -->

 		<div class="col-sm-4 col-12 mb-1">
	 		<div class="card bg-success">
	 			<div class="card-body text-white">
	 				Total Deposit: <span class="h2">{{ total.deposit  }}</span> TK
	 			</div> <!-- End card body -->
	 		</div> <!-- End card -->
	 	</div> <!-- End col 4 -->

	 	<div class="col-sm-4 col-12 mb-1">
	 		<div class="card">
	 			<div class="card-body">
	 				Profit or Loss  <span class="h2">{{ total.deposit - total.expense }}</span> TK
	 			</div> <!-- End card body -->
	 		</div> <!-- End card -->
		 </div> <!-- End col 4 -->
 </div> <!-- End row -->