<div class="card">
    <div class="card-body">
      <span class="card-title">Expense</span>
      <div class="divider"></div>
    </div>
    <div class="card-body">


        <div class="form-group">    
            <div style="position: relative; z-index: 10">
                    <input matInput [matDatepicker]="picker" [value]="today.value" class="form-control" #expenseDate>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
            </div>        <!-- End -->  
            
        </div> <!-- End -->


        <div class="form-group">  
            <input matInput type="number" placeholder="Expense Amount" #expense class="form-control mb-2" [(ngModel)]="expenseInput">
        
             <button class="btn btn-sm btn-danger" (click)="getExpense(expense.value, expenseDate.value)">- Expense</button>
         </div> <!-- End --> 

         <ul class="list-group list-group-flush">
            <li *ngFor="let object of expenses; let i = index;" class="list-group-item">
                {{ i }}:: {{ object.expense.amount }}
              
            </li>
        </ul>

        <div class="mt-4">
            Total Expense: <span class="h5">{{ total }}</span>
        </div>



        
    </div>
  </div>