<div class="row">
  <div class="col-sm-4" style="margin-bottom: 20px;"> 
    <div class="card">
        <div class="card-body">
          <span class="card-title">Expense</span>
          <div class="divider"></div>
        </div>
        <div class="card-body">
    
          <div *ngIf="notification" class="alert alert-warning">
              {{ notification }}
          </div> <!-- End Alert -->
    
    
                        
                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy/mm/dd"
                            ngbDatepicker #expenseDate="ngbDatepicker" (click)="expenseDate.toggle()" [(ngModel)]="expense.date">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary disabled calendar" (click)="expenseDate.toggle()">
                        </button>
                    </div>
                  </div> <!-- End input group -->
                </div> <!-- End form group -->



            <div class="form-group">
              <select name="expense_type" class="custom-select" #expenseCategory (click)="getCategory(expenseCategory.value)">
                  <option selected="true" disabled value="0">Select Bill Type </option>
                  <option value="Utility Bill">Utlity Bill</option>
                  <option value="Overtime Bill">Employee Overtime/Bounus Bill</option>
                  <option value="Office Foods">Foods</option>
                  <option value="Employee Salary">Employee Salary</option>
                  <option value="Others">Others</option>
              </select>    
            </div> <!-- End form-group-->


            <div *ngIf="subcategory" class="form-group" (click)="getSubCategory(subcategory.value)">
              <select name="expense_type" class="custom-select" #subcategory [(ngModel)]="expense.subcategory" name="expense.subcategory">
                  <option selected="true" disabled value="0">Select a Sub category</option>
                  <option value="Utility Bill">Electric Bill</option>
                  <option value="Internet Bill">Internet Bill</option>
                  <option value="Market Maintainance Bill">Market Maintainance Bill</option>
                  <option value="Others">Others</option>
              </select>    
              <div *ngIf="sub_others">
                <input type="text" placeholder="Write " [(ngModel)]="expense.others" name ="expense.others" class="form-control">
              </div>
            </div> <!-- End form-group-->
            
    
    
            <div class="form-group">  
                <input type="number" min="0" placeholder="Expense Amount" class="form-control mb-2" [(ngModel)]="expense.amount">
             </div> <!-- End --> 
    
    
            
    
            <div class="form-group">  
              <input type="text" placeholder="Expense note" class="form-control mb-2" [(ngModel)]="expense.note">
           </div> <!-- End form-group-->
    
            <div class="form-group">
              <button class="btn btn-sm btn-success" (click)="postExpense(expenseCategory.value, expense)"> Expense</button>
            </div>  <!-- End form-group-->
            
        </div> <!-- End card body -->
      </div> <!-- End card  -->
    </div> <!-- End col 6 -->






    
    <div class="col-sm-8">
      <div class="card">
          <div class="card-body">
              <div class="" style="margin: 20px 0;">

                <div class="form-group">
                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy/mm/dd"
                           name="selected_day" [(ngModel)]="selected_day" ngbDatepicker #d2="ngbDatepicker" (click)="d2.toggle()">
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary disabled calendar" (click)="d2.toggle()">
                        </button>
                    </div>

                    <div style="margin-left: 20px;">
                      <span class="btn btn-success" (click)="getDayData(selected_day)">Get Data</span>
                    </div>
                  </div>
                </div>
                
              </div>  <!-- End -->
          </div>    <!-- End -->
        <table class="table">
              <tr>
                <td>#Serial</td>
                <td>Amount</td>
                <td>Bill Type</td>
                <td>Date</td>
                <td>Note</td>
              </tr>
              <tr *ngFor="let object of expenses; let i = index;">
                <td> {{ i + 1 }} </td>
                <td> {{ object.expense.amount }} </td>
                <td> {{ object.expense.category  }} </td>
                <td> {{ object.expense.userdate | date:'MMM d, y, EE' }} </td>
                <td> {{ object.expense.note  }} </td>
              </tr>
          </table>

          <div class="p-2 mt-2">
            Total Expense: <span class="h5">{{ totalExpense }} </span> <span>BDT</span>
           </div> <!-- End -->
          
      </div> <!-- End card  -->
    </div>  <!-- End col -->
</div> <!-- End row -->